#!/bin/sh

{{ $dconfIniRelPath := "ignored/included/dconf.ini" }}

# this script is re-executed every time it's content changes (after templating)

echo "loading changed dconf/gnome settings"
echo "hash: {{ include $dconfIniRelPath | sha256sum }}"

dconf load / < "$(chezmoi source-path)/{{ $dconfIniRelPath }}"
