#!/bin/sh

# this script is re-executed every time it's content changes (after templating)

echo "loading changed dconf/gnome settings"

dconf load / <<EOFEOFEOF
{{ include "dot_config/private_dconf/settings.ini" }}
EOFEOFEOF
